<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejemplo HTML5-CSS3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi primer pagina web css3">
    <meta name="keywords" content="HTML5. CSS3, Web, Diseño web, UMG">

    <style>

    </style>
</head>
<body class="body">
    
    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active">
                    <a href="#">Inicio</a>
                </li>
                <li >
                    <a href="#">Noticias</a>
                </li>
                <li >
                    <a href="#">Acerca De</a>
                </li>
                <li >
                    <a href="#">Contactanos</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="Main">
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Que es HTML5?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 25/07/2025</i></h5>
                </footer>
            </article>
        </div>
    </div>

    <footer class="pageFooter">
        <p>Copyright &copy; 2018 - www.misitio.com</p>
    </footer>

</body>
</html>